<div class="navbar-header pull-left">
<!-- 
	<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
		<span class="sr-only">Toggle navigation</span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
	</button>
-->
	<a class="navbar-brand" href="{{ path('panel_dashboard') }}">
		<img class="img-responsive pull-left" width="25" height="25" src="{{ asset('images/trazeito.png') }}" alt="Trazeo" title="Trazeo" />	
		&nbsp;
		<img id="brand-logo" class="pull-left" width="60" height="16" class='img-responsive' src='{{ asset('images/trazeo_logo.png') }}' alt='Trazeo' title='Trazeo' />
	</a>
</div>
<!-- /.navbar-header -->