<div class="navbar-header">
	<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
		<span class="sr-only">Toggle navigation</span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
	</button>
	<a class="navbar-brand" href="{{ path('panel_dashboard') }}">
	<img class="img-responsive pull-left" width="25" height="25" src="{{ asset('images/trazeito.png') }}" alt="Trazeo" title="Trazeo" />	
	&nbsp; <b style="color:#a3bc09">Trazeo</b></a>
</div>
<!-- /.navbar-header -->