<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Start Bootstrap - SB Admin Version 2.0 Demo{% endblock %}</title>
    {#<link rel="shortcut icon" href="http://work.sopinet.es/icofrade-web/web/uploads/favicon.ico" />#}
    
    {% block csss %}
    {% endblock %}
    
    {% block css %}
	   	{% stylesheets
	   		'@SopinetTemplateSbadmin2Bundle/Resources/public/css/bootstrap.min.css'
	   		'@SopinetTemplateSbadmin2Bundle/Resources/public/font-awesome/css/font-awesome.css'
	    	'@SopinetTemplateSbadmin2Bundle/Resources/public/css/plugins/morris/morris-0.4.3.min.css'
	    	'@SopinetTemplateSbadmin2Bundle/Resources/public/css/plugins/timeline/timeline.css'
	    	'@SopinetTemplateSbadmin2Bundle/Resources/public/css/sb-admin.css'
	    	'@SopinetTemplateSbadmin2Bundle/Resources/public/css/custom.css'
	    	'bundles/sopinettemplatesbadmin2/font-awesome/css/font-awesome.min.css'
	    	output='css/*.css' filter='cssrewrite' %}
	    	<link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}" />
		{% endstylesheets %}
    {% endblock %}
</head>



<div id="wrapper">
	{% block custombody %}<body>{% endblock %}
	{% block body %}
	    <h1>Hello, world!</h1>
	{% endblock %}
</div>

{% block js %}
	{% javascripts 
		'@SopinetTemplateSbadmin2Bundle/Resources/public/js/jquery-1.10.2.js'
		'@SopinetTemplateSbadmin2Bundle/Resources/public/js/bootstrap.min.js'
		'@SopinetTemplateSbadmin2Bundle/Resources/public/js/plugins/metisMenu/jquery.metisMenu.js'
		'@SopinetTemplateSbadmin2Bundle/Resources/public/js/plugins/morris/raphael-2.1.0.min.js'
		'@SopinetTemplateSbadmin2Bundle/Resources/public/js/plugins/morris/morris.js'
		'@SopinetTemplateSbadmin2Bundle/Resources/public/js/sb-admin.js'
		'@SopinetTemplateSbadmin2Bundle/Resources/public/js/demo/dashboard-demo.js'
		'bundles/jmstranslation/js/jquery.js'
		
	%}
	<script type="text/javascript" src="{{ asset_url }}"></script>

	{% endjavascripts %}
{% endblock %}
    
</body>
</html>