<nav class="navbar navbar-default navbar-fixed-top" role="navigation" style="margin-bottom: 0">
	{% include 'SopinetTemplateSbadmin2Bundle:Elements/Navbar:brand.html.twig' %}
	<ul class="nav navbar-top-links navbar-right pull-right">
		{% block add_navbar %}{% endblock %}	
		{% include 'SopinetTemplateSbadmin2Bundle:Elements/Navbar:links.html.twig' %}
		{% include 'SopinetTemplateSbadmin2Bundle:Elements/Navbar:pop_language.html.twig' %}
	</ul>
</nav>
<div class="visible-xs">
	<nav class="navbar navbar-default navbar-fixed-bottom trazeo-menu trazeo-menu-mobile" role="navigation">
		{% include 'SopinetTemplateSbadmin2Bundle:Elements/Sidebar:menu.html.twig' %}
	</nav>
</div>
<!-- /.navbar-static-top -->