<nav class="navbar navbar-default navbar-fixed-top" role="navigation" style="margin-bottom: 0">
	{% include 'SopinetTemplateSbadmin2Bundle:Elements/Navbar:brand.html.twig' %}
	{% include 'SopinetTemplateSbadmin2Bundle:Elements/Navbar:links.html.twig' %}
</nav>
<!-- /.navbar-static-top -->