<nav class="navbar-default navbar-fixed-side trazeo-menu trazeo-menu-pc" role="navigation">
	<div class="sidebar-collapse">
		{% include 'SopinetTemplateSbadmin2Bundle:Elements/Sidebar:menu.html.twig' %}
	</div>
	<!-- /.sidebar-collapse -->
</nav>
<!-- /.navbar-static-side -->