ul li{
	list-style-type:none;
}

select { 
    border: none; 
}
.datepicker {
    position: relative !important;
    top: -450px !important;
}

#wrapper{
	font-size:16px;	
}

.btn-xs,.label{
	font-size:14px;	
}