{% set url_preferences = base_url ~ "/panel/settings" %}
{% set url_panel = base_url ~ "/panel" %}
{% set url_license = base_url ~ "/terms" %}
			</td>
		</tr>
		<tr>
			<td>
				</table>
				<table bgcolor="#E6E6E6" center style="font-family:Verdana;" cellpadding="5">
					<tr>
						<td>
							<span style='font-size: 90%; color:#555'><i>Aviso: este correo electrónico no es un spam. Le ha sido enviado porque usted lo ha aceptado a través de las <a href='{{ url_license }}' target='_blank'>Condiciones de Uso</a>.<br/>
							<br/>De acuerdo con la LOPD, le informamos que sus datos personales y dirección de correo electrónico forman parte de un fichero, cuyo responsable es Trazeo, siendo la finalidad del fichero, el envío de comunicaciones sobre nuestros productos y/o servicios, así como de notificaciones o avisos.<br/>
							Si desea darse de baja completamente, hágalo a través de su <a href=' {{ url_panel }}/profile' target='_blank'>Perfil</a>, si lo desea también puede cambiar las <a href='{{ url_preferences }}/edit' target='_blank'>Preferencias de Trazeo</a><br/>Si tiene algún problema no dude en contactar con nosotros a través de <a href='mailto:hola@trazeo.es'>hola@trazeo.es</a></i></span>
						</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
</body>