{# include 'SopinetTemplateSbadmin2Bundle:Emails:header.html.twig' %}#}

<body bgcolor="#a3bc09" topmargin="0" leftmargin="0" marginheight="0" marginwidth="0" style="background-color: ##a3bc09; -webkit-font-smoothing: antialiased;width:100% !important; -webkit-text-size-adjust:none;">
<img width="100%" src="http://dev.trazeo.es/bundles/sopinettemplatelanding//img/banner.jpg" alt="Trazeo" title="Trazeo" />

<h1>Hola!</h1>

<h3>Gracias por registrarte en Trazeo. Estamos muy contentos de poder ayudarte a que tus hijos/as caminen diariamente al colegio de forma sana, segura y sostenible.</h3>

<dl>
	<dt>Ahora podrás:</dt>
		<dd>- Unirte a algún grupo de pedibús.</dd>
		<dd>- Visualizar en el paseo en tiempo real.</dd>
		<dd>- Invitar a las personas de tu entorno a unirse Trazeo y así generar comunidad.</dd>
</dl>

	
<p>Si necesitas ayuda consulta nuestro <a href="http://help.trazeo.es/manual_padres.html">manual</a> o contáctanos:<a href="mailto:hola@trazeo.es"> hola@trazeo.es</a>, <a href="https://es-es.facebook.com/trazeo">Facebook</a>, <a>twitter</a>, móvil <a href="tel:653367244">653367244</a> o vídeo conferencia.
Queremos que nos preguntes, comentes, sugieras, qué te ha gustado, qué te ha molestado y qué te gustaría encontrar en Trazeo.</p>

<div>
	<p>Nos vemos en el camino!
	</br>Pedro, Rafa, Eva y Fernando
	</br>Trazeo Caminos Escolares
	</br><a href="http://www.trazeo.es">trazeo.es</a></p>
</div>

{# include 'SopinetTemplateSbadmin2Bundle:Emails:footer.html.twig' %}#}
</body>