{% include 'SopinetTemplateSbadmin2Bundle:Emails:header.html.twig' %}

<h1>Hola!</h1>

<h2>Gracias por registrarte en Trazeo. Estamos muy contentos de poder ayudarte a que tus hijos/as caminen diariamente al colegio de forma sana, segura y sostenible.</h2>

<div>
Ahora podrás:

· Unirte a algún grupo de pedibús.

· Visualizar en el paseo en tiempo real.

· Invitar a las personas de tu entorno a unirse Trazeo y así generar comunidad.

Si necesitas ayuda consulta nuestro manual o contáctanos: hola@trazeo, Facebook, twitter, móvil 653367244 o vídeo conferencia

Queremos que nos preguntes, comentes, sugieras, qué te ha gustado, qué te ha molestado y qué te gustaría encontrar en Trazeo.
</div>

<div>
Nos vemos en el camino!
Pedro, Rafa, Eva y Fernando
Trazeo Caminos Escolares
<a href="www.trazeo.es">trazeo.es</a>
</div>

{% include 'SopinetTemplateSbadmin2Bundle:Emails:footer.html.twig' %}