{% include 'SopinetTemplateSbadmin2Bundle:Emails:header.html.twig' %}

<table>
	<tr>
		<td><h3 style="color:#333;">Tienes nuevas notificaciones en tu panel de <a style="color:#3c763d;text-decoration:none;" href="http://beta.trazeo.es/panel">Trazeo</a> ({{ notifications|length }}) </h3></td>
	</tr>
</table>
<br />
<table>
{% for notification in notifications %}
	{% if loop.index is divisibleby(2) %}
		{% set cebra = '#eeffee' %}
	{% else %}
		{% set cebra = '#eeefee' %}
	{% endif %}	
	{# <tr style="background-color:{{ cebra }}"> #}
	<tr>
		<td style="padding:6px;color:#333;">{{ notification|parseSopinetUserNotification() }}</td>
		<td style="font-size: 140%; text-align:center;" width="20%">{% include 'SopinetTemplateSbadmin2Bundle:Emails:_customlink.html.twig' with {'url':notification.link, 'title': 'Ver'} %}</td>
	</tr>
{% endfor %}
</table>

{% include 'SopinetTemplateSbadmin2Bundle:Emails:footer.html.twig' %}